# do not ignore the following files
!models/saved_weights/NOTSS
!models/saved_weights/NOTSU/model.ckpt
!models/saved_weights/NOTSU/logs.json
!models/saved_weights/inv_diffusion
# ignore
**/slurm_output*/
**/saved_models/
**/saved_weights*/
**/__pycache__/
**/.ipynb_checkpoints/
**/.vscode/
**/dataset/
__pycache__/
*.rpy.*
*.rpy
*.rec
*.slurm
MyJob.*
abaqus_acis.log
abaqusis.env
*.npz
*.npy
sample.json
*.exception
abaqus_sims/*
*/test_results.pkl

